/* SecondSection.css */

.second-section {
    padding: 254px 0; /* Adjust padding as needed */
    background: linear-gradient(to bottom, #22232b, rgb(31, 31, 33));
  }

.fourth-section {
  padding-top: 168px; /* Adjust padding as needed */
  padding-bottom: 188px;
  background: rgb(24, 23, 23);
}
.section5 {
  margin-bottom: 0px;
  color: #ffffff;
  padding-top: 129px; /* Adjust padding as needed */
  padding-bottom: 78px;
  background: rgb(24, 23, 23);
}

.paradoxline{
  margin-bottom: 0px;
  padding: 20px;
  background: rgb(24, 23, 23);
  padding-bottom: 180px;
  color: #ffffff;
}

  .my-container {
    opacity: 0; /* Initially hidden */
    transform: translateY(50px); /* Initially positioned lower */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition */
  }
  
  .my-container.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
  }
  
  .text-content {
    flex: 1;
  }
  .image-content {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .text-content2 {
    flex: 1;
  }
  .image-content2 {
    flex: 0.66;
    display: flex;
    justify-content: center;
  }
  
  .styled-image {
    max-width: 80%;
    height: auto;
    border: 2px solid rgb(71, 71, 71); /* Add border to the image */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 2px 4px 12px 8px rgba(255, 255, 255, 0.123); /* Shadow effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  }

  .styled-image2 {
    max-width: 70%;
    height: 30%;
    border: 2px solid rgb(71, 71, 71); /* Add border to the image */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 2px 4px 12px 8px rgba(255, 255, 255, 0.123); /* Shadow effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  }
  
  .styled-image:hover , .styled-image2:hover {
    transform: scale(1.045); /* Zoom in */
    box-shadow: 2px 4px 10px 8px rgba(255, 255, 255, 0.223); /* Increased shadow effect */
  }

  .animated-p {
    color: #ffffff;
    animation: fadeIn 4.4s ease-in;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }